{% load bootstrap3 %}
{% load static %}
{{block.super}}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">

    {% if title %}
    <title>Flash Cards Website - {{title}}</title>
    {% else %}
    <title> Flash Cards </title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link href="https://bootswatch.com/4/cyborg/bootstrap.min.css" rel="stylesheet">
    {% endblock %}

</head>

<body>
    {% include "navbar.html" %}

    {% block content %}
    <h1 class='text-center' style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">NEIGHBOURHOOD WEBSITE
        </h1>
    {%endblock%}

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
</body>

</html>